.applications-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.applications-container h1 {
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}
.applications-container h2{
  color: #000;
}
.premium-category {
  background-color: #ffd6e5; 
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.free-category {
  background-color: #dbcdf5; 
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #555; 
}

th {
  background-color: #007bff; 
  color: #fff;
  text-align: left;
}

tr:hover {
  background-color: #e0e0e0; 
}
