@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.job-posting-container {
    width: 500px;
    margin: 80px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #aed6f1;
  }
  
  .job-posting-container h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 25px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #363535; 
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #080808;
    background-color: #ffffff;
    font-size: 18px;
  }
  
  .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .submit-btn {
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    background: #007bff;
    color: #fff;
    margin-right: 10px;
  }
  
  .submit-btn:hover {
    background: #061b9f;
  }
  
  .cancel-btn {
    border: none;
    border-radius: 5px;
    padding: 11px 15px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    background: #cf4648;
    color: #fff;
    margin-right: 10px;
  }
  
  .cancel-btn:hover {
    background: #c6001e;
    color: #ffffff;
  }
  