@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
  font-family: "Poppins", sans-serif;
}

#container {
  width: 95%;
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
  background-color: #5c5a5a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #151618;
  line-height: 1.5;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
}

.input {
  margin-bottom: 20px;
}

.input label {
  font-size: 18px;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.input input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #92021f;
}

@media (max-width: 768px) {
  #container {
    padding: 30px;
  }

  .login-form {
    max-width: 300px;
  }

  .input input {
    padding: 10px;
  }
}
