@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.containerr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
  background-color: #cecccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form h1 {
  color:#007bff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.signup-form h1 {
  color:#007bff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.login-form p {
  font-size: 18px;
  color: #151618;
  line-height: 1.5;
}
.signup-form p {
  font-size: 18px;
  color: #151618;
  line-height: 1.5;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
}

.input {
  margin-bottom: 20px;
}

.input label {
  font-size: 18px;
  color: #fff;
  display: block;
  margin-bottom: 8px;
}

.input input, .input select{
  width: 100%;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
}
.input input::placeholder, .input select::placeholder {
  color: #fff; 
}
.login-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #92021f;
}

@media (max-width: 768px) {
  #container {
    padding: 30px;
  }

  .login-form {
    max-width: 300px;
  }

  .input input {
    padding: 10px;
  }
}
